<div class="main-submenu">
  <ul>
      <li class="non-header {{if (eq this.submenuTab 'phone-numbers') 'submenu-active'}}" {{on 'click' (fn this.setSubmenuTab 'phone-numbers')}}>Phone Numbers</li>
      {{!-- <li class="non-header {{if (eq this.submenuTab 'phone-settings') 'submenu-active'}}" {{on 'click' (fn this.setSubmenuTab 'phone-settings')}}>Phone Settings</li> --}}
      {{!-- <li class="non-header {{if (eq this.submenuTab 'codec') 'submenu-active'}}" {{on 'click' (fn this.setSubmenuTab 'codec')}}>Codec</li> --}}
      {{!-- <li class="non-header {{if (eq this.submenuTab 'call-settings') 'submenu-active'}}" {{on 'click' (fn this.setSubmenuTab 'call-settings')}}>Call Settings</li> --}}
      <li class="non-header {{if (eq this.submenuTab 'call-log') 'submenu-active'}}" {{on 'click' (fn this.setSubmenuTab 'call-log')}}>Call Log</li>
  </ul>
</div>