{{!-- {{#each @client as |cli index|}}
  <div class="row mb-2">
    <div class="col-md-6"><strong>Phone Num {{add index 1}}</strong></div>
    <div class="col-md-6">{{cli.RegisterURI}}</div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6"><strong>Phone Service {{add index 1}}</strong></div>
    <div class="col-md-6">{{cli.Status}}</div>
  </div>
  <hr />
{{/each}} --}}

{{#each @client as |cli ind|}}
  {{#if (eq cli.Status "Up")}}
    <div class="row mb-2">
      <div class="col-md-12" style="align-items: center;">
        {{#if (or (eq @model 'FG4278Av2') (eq @model 'FG4278Av2_VD'))}}
        {{#if (eq ind 0)}}
        <div class="flex-container-phone">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 54 42">
            <path d="M0 0 C17.82 0 35.64 0 54 0 C54 13.86 54 27.72 54 42 C36.18 42 18.36 42 0 42 C0 28.14 0 14.28 0 0 Z" fill="#FCFCFC" transform="translate(0,0)" />
            <path d="M0 0 C0.66 0 1.32 0 2 0 C2.06058594 1.27617187 2.12117188 2.55234375 2.18359375 3.8671875 C2.26799568 5.53647016 2.35264386 7.20574037 2.4375 8.875 C2.47681641 9.71675781 2.51613281 10.55851562 2.55664062 11.42578125 C2.59853516 12.23144531 2.64042969 13.03710938 2.68359375 13.8671875 C2.72025146 14.61081543 2.75690918 15.35444336 2.79467773 16.12060547 C2.89955865 18.08864312 2.89955865 18.08864312 4 20 C6.31 20 8.62 20 11 20 C12.11823815 17.76352369 12.19396061 16.35108471 12.31640625 13.8671875 C12.35830078 13.06152344 12.40019531 12.25585938 12.44335938 11.42578125 C12.48267578 10.58402344 12.52199219 9.74226563 12.5625 8.875 C12.60568359 8.02550781 12.64886719 7.17601562 12.69335938 6.30078125 C12.79954236 4.20071777 12.90028497 2.10038052 13 0 C13.66 0 14.32 0 15 0 C15.14546783 3.24952748 15.2341168 6.49821713 15.3125 9.75 C15.3753418 11.13058594 15.3753418 11.13058594 15.43945312 12.5390625 C15.56317998 19.36878486 15.56317998 19.36878486 12.671875 22.609375 C9.41916999 24.30230334 7.61642727 24.61556209 4 24 C1.83203125 22.609375 1.83203125 22.609375 0 20 C-0.49580616 16.57152887 -0.37580636 13.20483615 -0.25 9.75 C-0.23195313 8.81414063 -0.21390625 7.87828125 -0.1953125 6.9140625 C-0.14825673 4.60832985 -0.08253713 2.30469055 0 0 Z" fill="#383838" transform="translate(15,10)" />
            <path d="M0 0 C0 7.92 0 15.84 0 24 C-0.66 24 -1.32 24 -2 24 C-2 17.4 -2 10.8 -2 4 C-2.99 4.99 -3.98 5.98 -5 7 C-5.99 6.67 -6.98 6.34 -8 6 C-3.375 0 -3.375 0 0 0 Z" fill="#353535" transform="translate(40,10)" />
            <path d="M0 0 C0.66 0.99 1.32 1.98 2 3 C-0.55068845 5.35448165 -1.71017358 5.98327924 -5.25 6.1875 C-6.1575 6.125625 -7.065 6.06375 -8 6 C-8.33 5.01 -8.66 4.02 -9 3 C-5.92382812 2.70703125 -5.92382812 2.70703125 -2.84765625 2.4140625 C-2.23792969 2.27742188 -1.62820312 2.14078125 -1 2 C-0.67 1.34 -0.34 0.68 0 0 Z" fill="#535353" transform="translate(27,28)" />
            <path d="M0 0 C0.66 0.33 1.32 0.66 2 1 C1.0022242 3.99332739 0.2477975 4.94766315 -2 7 C-2.99 6.67 -3.98 6.34 -5 6 C-3.35 4.02 -1.7 2.04 0 0 Z" fill="#4E4E4E" transform="translate(37,10)" />
          </svg>
          <span tabindex="0" aria-label="{{cli.RegisterURI}}">{{cli.RegisterURI}}</span>
        </div>
        {{else if (eq ind 1)}}
        <div class="flex-container-phone">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="-5 0 54 42">
            <path d="M0 0 C15.84 0 31.68 0 48 0 C48 12.87 48 25.74 48 39 C32.16 39 16.32 39 0 39 C0 26.13 0 13.26 0 0 Z " fill="#FBFBFB" transform="translate(0,0)"/>
            <path d="M0 0 C0.99 0 1.98 0 3 0 C3.02505615 0.57032959 3.0501123 1.14065918 3.07592773 1.72827148 C3.19156549 4.29826157 3.31443624 6.86785527 3.4375 9.4375 C3.47681641 10.33533203 3.51613281 11.23316406 3.55664062 12.15820312 C3.59853516 13.01220703 3.64042969 13.86621094 3.68359375 14.74609375 C3.72025146 15.53685303 3.75690918 16.3276123 3.79467773 17.14233398 C3.80563257 19.01401441 3.80563257 19.01401441 5 20 C7.95817107 20.25005386 7.95817107 20.25005386 11 20 C13.35358251 17.64641749 13.27871904 17.07031606 13.4140625 13.8671875 C13.45273437 13.06152344 13.49140625 12.25585938 13.53125 11.42578125 C13.57765625 10.16314453 13.57765625 10.16314453 13.625 8.875 C13.68300781 7.60076172 13.68300781 7.60076172 13.7421875 6.30078125 C13.83656494 4.20088316 13.91937586 2.10047109 14 0 C14.66 0 15.32 0 16 0 C16.13530844 3.06398451 16.2342407 6.12197126 16.3125 9.1875 C16.35439453 10.05181641 16.39628906 10.91613281 16.43945312 11.80664062 C16.52655264 16.35323537 16.49560848 18.34473242 13.671875 22.078125 C11 24 11 24 7.9375 24.5625 C4.38265419 23.88178485 3.222954 22.79927541 1 20 C-0.1482685 17.703463 -0.11561175 16.41686833 -0.09765625 13.8671875 C-0.09443359 13.06152344 -0.09121094 12.25585938 -0.08789062 11.42578125 C-0.07951172 10.58402344 -0.07113281 9.74226563 -0.0625 8.875 C-0.05798828 8.02550781 -0.05347656 7.17601562 -0.04882812 6.30078125 C-0.03702874 4.20049091 -0.01909306 2.1002367 0 0 Z " fill="#444444" transform="translate(9,9)"/>
            <path d="M0 0 C2.5625 1.625 2.5625 1.625 4 4 C4.22721446 9.11232538 1.84219303 11.8776795 -1.4375 15.46484375 C-3.16920333 17.16624227 -5.05193234 18.55698692 -7 20 C-7.33 20.99 -7.66 21.98 -8 23 C-4.04 23 -0.08 23 4 23 C4 23.66 4 24.32 4 25 C-0.95 25 -5.9 25 -11 25 C-11 20 -11 20 -8.59375 17.28125 C-7.05493515 15.8623428 -5.48367528 14.48568078 -3.91015625 13.10546875 C-0.77154559 10.21484122 -0.77154559 10.21484122 0.40625 6.21875 C0.22337814 4.03398123 0.22337814 4.03398123 -1 3 C-3.33746522 3.30300475 -5.67085177 3.63858045 -8 4 C-8.99 4 -9.98 4 -11 4 C-11 3.34 -11 2.68 -11 2 C-7.31416051 -0.45722633 -4.28004572 -0.68755754 0 0 Z " fill="#484848" transform="translate(38,8)"/>
            <path d="M0 0 C0.680625 -0.00515625 1.36125 -0.0103125 2.0625 -0.015625 C4 0.25 4 0.25 7 2.25 C6.67 4.23 6.34 6.21 6 8.25 C5.690625 7.610625 5.38125 6.97125 5.0625 6.3125 C4.1654837 4.31389179 4.1654837 4.31389179 3 3.25 C0.66253478 3.55300475 -1.67085177 3.88858045 -4 4.25 C-4.99 4.25 -5.98 4.25 -7 4.25 C-7 3.59 -7 2.93 -7 2.25 C-4.00261059 0.25174039 -3.36652492 -0.02550398 0 0 Z " fill="#4E4E4E" transform="translate(34,7.75)"/>
            <path d="M0 0 C0.99 0.33 1.98 0.66 3 1 C-1.18461538 5.92307692 -1.18461538 5.92307692 -5.3125 6.3125 C-6.199375 6.209375 -7.08625 6.10625 -8 6 C-7.67 5.01 -7.34 4.02 -7 3 C-4 1.875 -4 1.875 -1 1 C-0.67 0.67 -0.34 0.34 0 0 Z " fill="#5E5E5E" transform="translate(22,27)"/>
          </svg>
          <span tabindex="0" aria-label="{{cli.RegisterURI}}">{{cli.RegisterURI}}</span>
        </div>
        {{/if}}
        {{else}}
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone" viewBox="0 0 20 20">
          <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
        </svg>
        <span tabindex="0" aria-label="{{cli.RegisterURI}}">{{cli.RegisterURI}}</span>
        {{/if}}
      </div>
    </div>
  {{/if}}
{{/each}}