{{!-- 
    Arguments:
    @value - value
    @id - ID attribute
    @disabled - if true, the input is disabled, else enabled. Enclose in {{}} when using in templates.
    @onUpdate - function to call when the input changes
    @obj - object to pass to caller when the input changes
 --}}
<div class="d-flex align-items-center" >
  {{#each this.splitMacAddress key=index as | v_oct index|}}
    <input type="text" 
        id="{{@id}}-{{add index 1}}" 
        value="{{v_oct}}" 
        class="form-control text-center mx-1 p-1" 
        maxlength="2" 
        style="width: 5ch;" 
        disabled={{if @disabled "disabled"}} 
        {{on "change" (fn @onUpdate @id (add index 1) (add @id "ErrMsg") @obj)}}
        {{on "input"  (fn @onUpdate @id (add index 1) (add @id "ErrMsg") @obj)}}/>
        {{#if (lt index 5)}}
            <span class="mx-1 fw-bold" style="width: 2px;">:</span>
        {{/if}}
  {{/each}}
</div>
<div id="{{@id}}ErrMsg" class="invalid-feedback fw-normal d-block errMsg"></div>
