<div class="card mb-3">
  <div class="card-header sc">
    <div class="row align-items-center justify-content-between">
      <div class="col">
        <span class="fs-5" tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_DEVICES'}}">{{t 'PAGE_EASY_MESH_DEVICES'}}</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid table-responsive">
      <table class="table table-bordered" style="table-layout: fixed;">
        <thead>
          <tr>
            <th tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_NODES_NAME'}}">{{t 'PAGE_EASY_MESH_NODES_NAME'}}</th>
            <th tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_NODES_STATUS'}}">{{t 'PAGE_EASY_MESH_NODES_STATUS'}}</th>
            <th tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_RSSI'}}">{{t 'PAGE_EASY_MESH_RSSI'}}</th>
            <th tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_LINKRATE'}}">{{t 'PAGE_EASY_MESH_LINKRATE'}}</th>
            <th tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_POLICY'}}">{{t 'PAGE_EASY_MESH_POLICY'}}</th>
            <th tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_NODES_DETAILS'}}">{{t 'PAGE_EASY_MESH_NODES_DETAILS'}}</th>
            <!--th style="width:10%;"></th-->
          </tr>
        </thead>
        <tbody>
          {{#if (eq @nodelist.length 0)}}
          <tr class="align-middle" tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_NO_ENTRY_FOUND'}}">
            <td colspan="6"><i>{{t 'PAGE_EASY_MESH_NO_ENTRY_FOUND'}}</i></td>
          </tr>
          {{/if}}
          {{#each @nodelist as |one idx|}}
          {{#let one.node as |pm|}}
          <tr class="align-middle">
            <td tabindex="0" aria-label="{{one.devicename}}">{{one.devicename}}</td>
            <td tabindex="0" aria-label="{{ this.getStatusShow one this}}">{{ this.getStatusShow one this}}</td>
            <td tabindex="0" aria-label="{{ one.RSSI }}">{{ one.RSSI }}</td>
            <td tabindex="0" aria-label="{{ one.LastDataUplinkRate }}">{{ one.LastDataUplinkRate }}</td>
            <td>
                <select class="form-select w-100" {{on "change" (fn this.UpdatePolicy one)}}>
                    <option value=0 selected={{(not (one.steeringmaclist.Policy 1))}}>{{t 'PAGE_EASY_MESH_POLICY_NORMAL'}}</option>
                    <option value=1 selected={{(eq one.steeringmaclist.Policy 1 )}}>{{t 'PAGE_EASY_MESH_POLICY_NOSTEER'}}</option>
                </select>
            </td>            
            <td>
              <button type="button" class="button btn btn-light btn-sm" {{on "click" (fn this.OpenShowModal one)}}
                      {{on "keyup" this.eaactrl.btnTrigger}}
                      tabindex="0"
                      aria-label="{{t 'PAGE_EASY_MESH_SHOW'}}"
                      >{{t 'PAGE_EASY_MESH_SHOW'}}</button>
            </td>
            {{!--
            <!--td>
              <button class="btn btn-danger btn-sm ms-auto py-2 px-3" {{on 'click' (fn this.Delete one)}}><i
                  class="bi bi-trash"></i></button>
            </td-->
            --}}
          </tr>
          {{/let}}
          {{/each}}
        </tbody>
      </table>
    </div>
    {{!--
    <!--div class="row align-items-center justify-content-end px-3">
      <div class="col flex-grow-0">
        <button type="button" class="btn btn-primary px-2 py-1" onClick={{this.OpenAddModal}}><i
            class="bi bi-plus-square fs-5"></i></button>
      </div>
    </div-->
    --}}

  </div>
</div>

{{!-- Modal for Edit functionality --}}
<BsModal @open={{this.ShowModal}} as |modal|>
  <modal.header>
    <h4 class="modal-title">
      
    </h4>
  </modal.header>
  <modal.body>
    <div class="container-fluid text-start">
      <div class="container-fluid text-start">

        <div class="row align-items-center">
          <div class="col" tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_NODES_NAME'}}">{{t 'PAGE_EASY_MESH_NODES_NAME'}}</div>
          <div class="col" tabindex="0" aria-label="{{this.SelectedEntry.node.Name}}">{{this.SelectedEntry.node.Name}}</div>
        </div>

        <div class="row align-items-center">
          <div class="col" tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_MACADDRESS'}}">{{t 'PAGE_EASY_MESH_MACADDRESS'}}</div>
          <div class="col" tabindex="0" aria-label="{{this.SelectedEntry.node.MACAddress}}">{{this.SelectedEntry.node.MACAddress}}</div>
        </div>
        <div class="row align-items-center">
          <div class="col" tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_IPADDRESS'}}">{{t 'PAGE_EASY_MESH_IPADDRESS'}}</div>
          <div class="col" tabindex="0" aria-label="{{this.SelectedEntry.node.IPAddress}}">{{this.SelectedEntry.node.IPAddress}}</div>
        </div>

        <div class="row align-items-center">
          <div class="col" tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_NODE'}}">{{t 'PAGE_EASY_MESH_NODE'}}</div>
          <div class="col" tabindex="0" aria-label="{{this.SelectedEntry.node.AssociatedMACAddress}}">{{this.SelectedEntry.node.AssociatedMACAddress}}</div>
        </div>

        <div class="row align-items-center">
          <div class="col" tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_NODES_STATUS'}}">{{t 'PAGE_EASY_MESH_NODES_STATUS'}}</div>
          <div class="col" tabindex="0" aria-label="{{ this.getStatusShow this.SelectedEntry this}}">{{ this.getStatusShow this.SelectedEntry this}}</div>
        </div>
        <div class="row align-items-center">
          <div class="col" tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_LINKRATE'}}">{{t 'PAGE_EASY_MESH_LINKRATE'}}</div>
          <div class="col" tabindex="0" aria-label="{{this.SelectedEntry.LastDataUplinkRate}}">{{this.SelectedEntry.LastDataUplinkRate}}</div>
        </div>
        <div class="row align-items-center">
          <div class="col" tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_SIGNALSTRENGTH'}}">{{t 'PAGE_EASY_MESH_SIGNALSTRENGTH'}}</div>
          <div class="col" tabindex="0" aria-label="{{this.SelectedEntry.RSSI}}">{{this.SelectedEntry.RSSI}}</div>
        </div>
        <div class="row align-items-center">
          <div class="col" tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_FREQUENCY'}}">{{t 'PAGE_EASY_MESH_FREQUENCY'}}</div>
          <div class="col" tabindex="0" aria-label="{{this.SelectedEntry.frequency_str}}">{{this.SelectedEntry.frequency_str}}</div>
        </div>
        <div class="row align-items-center">
          <div class="col" tabindex="0" aria-label="{{t 'PAGE_EASY_MESH_POLICY'}}">{{t 'PAGE_EASY_MESH_POLICY'}}</div>
          <div class="col" tabindex="0" aria-label="{{ this.getPolicyShow this.SelectedEntry this}}">
            {{ this.getPolicyShow this.SelectedEntry this}}
          </div>
        </div>
      </div>
    </div>
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{this.CloseShowModal}}>{{t 'PAGE_PORT_MAPPING_POPUP_EDIT_CANCEL'}}</BsButton>
  </modal.footer>

</BsModal>



